* {
  margin: 0;
  padding: 0;
  font-family: 'Amiri', serif;
}
body {
  overflow-x: hidden;
  font-family: 'Amiri', serif;
  display: flex;
  flex-wrap: wrap;
}
.div {
  background-color: black;
  height: 170vh;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
}
img {
  opacity: 0.2;
  height: 170vh;
  max-width: 100%;
  border-radius: 20px;
}
header {
  width: 100%;
  height: 90px;
  box-shadow: #1a191a;
  border-radius: 10px;
  position: absolute;
  top: 0;
  z-index: 99;
  display: flex;
  flex-wrap: wrap;
}

.ao a {
  color: rgb(228, 222, 222);
  text-decoration: none;
  font-weight: bold;
  padding: 10px;
  font-size: 22px;
  height: 10px;
}

nav {
  margin-top: 15px;
  left: 30px;
  position: absolute;
  top: 20px;
  flex-wrap: wrap;
  font-family: 'Amiri', serif;
  height: 10px;
}
a:hover {
  background-color: aliceblue;
  border-radius: 20px;
  height: 10px;
  color: black;
}
h1 {
  position: absolute;
  right: 30px;
  color: rgb(228, 223, 223);
  font-family: 'Amiri', serif;
  top: 20px;
  font-size: 50px;
}
h2 {
  position: absolute;
  top: 50%;
  right: 6%;
  color: white;
  font-size: 34px;
  font-size: 50px;
}
p {
  position: absolute;
  top: 90%;
  left: 3%;
  color: white;
  font-size: 34px;
  padding: 20px;
  margin: 20px;
  flex-wrap: wrap;
  direction: rtl;
}
h2:hover {
  transform: scale(1.1);
}
.image-section img {
  position: absolute;
  padding: 10px;
  width: 17%;
  height: 43%;
  opacity: 77;
  box-shadow: 5px 5px 15px rgba(117, 61, 61, 0.4);
  border-radius: 20px;
  z-index: 99;
}
.p1 {
  left: 2%;
  transform: skew(4deg, 5deg);
  top: 20%;
}
.p2 {
  left: 20%;
  transform: skew(4deg, 5deg);
  top: 40%;
}
.p3 {
  left: 40%;
  transform: skew(4deg, 5deg);
  top: 20%;
}
.image-section img:hover {
  transform: scale(1.1);
}
.p4 {
  left: 60%;
  transform: skew(4deg, 5deg);
  top: 40%;
}

@media (max-width: 768px) {
  .image-section img {
    width: 20%;
    height: 30%;
  }
  .p1 {
    left: 1%;
    top: 20%;
  }
  .p2 {
    left: 30%;
    top: 40%;
  }
  .p3 {
    left: 50%;
    top: 20%;
  }

  .p4 {
    left: 76%;
    top: 40%;
  }
  h2 {
  top: 80%;
  right: 30%;
 
}
p {
  font-size: 25px;

}
  nav {
    flex-direction: column;
    top:80px;
    align-items: center;
  }

}
