* {
  margin: 0;
  padding: 0;
  font-family: 'Amiri', serif;
}
body {
  overflow-x: hidden;
  font-family: 'Amiri', serif;
  display: flex;
  flex-wrap: wrap;
}
.div {
  background-color: black;
  height: 190vh;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
}
img {
  opacity: 0.3;
  height: 190vh;
  max-width: 100%;
  border-radius: 20px;
}
header {
  width: 100%;
  height: 90px;
  box-shadow: #1a191a;
  border-radius: 10px;
  position: absolute;
  top: 0;
  z-index: 99;
  display: flex;
  flex-wrap: wrap;
}

.ao a {
  color: rgb(228, 222, 222);
  text-decoration: none;
  font-weight: bold;
  padding: 10px;
  font-size: 22px;
  height: 10px;
}

nav {
  margin-top: 15px;
  left: 30px;
  position: absolute;
  top: 20px;
  flex-wrap: wrap;
  font-family: 'Amiri', serif;
  height: 10px;
}
a:hover {
  background-color: aliceblue;
  border-radius: 20px;
  height: 10px;
  color: black;
}
h1 {
  position: absolute;
  right: 30px;
  color: rgb(228, 223, 223);
  font-family: 'Amiri', serif;
  top: 20px;
  font-size: 50px;
}
.cards {
  max-width: 1100px;
  margin: 0 auto;
  text-align: center;
  padding: 30px;
  position: absolute;
  top: 20%;
  color: white;
}
.services {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.content {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  padding: 10px;
  border: 10 solid rgb(202, 190, 190);
  border-radius: 4%;
  margin: 20px;
  background: white;
  height: 300px;
  width: 400px;
  transition: transform 1s ease 0.3s;
  margin-right: 80px;
}

.cards img {
  width: 100%;
  height: 200px;
  opacity: 77;
  box-shadow: 5px 5px 15px rgba(117, 61, 61, 0.4);
}
.content:hover {
  transform: scale(1.1);
}
.cards p {
  font-family: 'Amiri', serif;
  text-align: right;
  color: black;
  font-size: 13px;
  font-weight: 500;
  white-space: normal;
  font-weight: bold;
}
.services2 {
  display: flex;
  align-items: center;
  top: 90%;
  position: absolute;
}
h2 {
  color: black;
}
@media (max-width: 768px) {
  .services {
    flex-direction: column; /* العناصر تحت بعض */
    align-items: center; /* توسيط العناصر أفقياً */
    gap: 40px; /* مسافة بين العناصر */
    width: 100%; /* ياخد عض كامل الشاشة */
    padding: 10px; /*  داخلية */
  }

  .content {
    width: 90%;
    margin: 0 auto;
    height: auto;
  }
  .div {
    height: 240vh;
  }
  nav {
    flex-direction: column;
    top:80px;
    align-items: center;
  }
}
