*{
    margin: 0;
    padding: 0;
}
body{
    overflow-x: hidden;
    font-family:  'Amiri', serif;
    
    
}
.div{
   background-color: black;
    height: 150vh;
    width: 100%;
}
img{
  
    opacity: .5;
    height: 150vh;
    width: 100%;
    
}

header{
    
    width: 100%;
    height: 90px;
    box-shadow: #1a191a;
    border-radius: 10px;
    position: absolute;
    top: 0;
    z-index: 99;
  

}

.ao a{
    color: white;
    text-decoration: none;
  font-weight: bold;
    padding: 10px;
 font-size: 22px;
 height: 10px;
}

nav{
    margin-top: 15px;
    left: 30px;
    position: absolute;
    top: 20px;
    flex-wrap: wrap;
    font-family: 'Amiri', serif;
    height: 10px;
   
    
}
a:hover{
    background-color: aliceblue;
    border-radius: 20px;
    height: 10px;
    color: black;
}
h1{
    position: absolute;
    right: 30px;
    color: white;
    font-family: 'Amiri', serif;
    top: 20px;
    font-size: 50px;
    
}
select {
    padding: 10px;
    font-size: 22px;
    border-radius: 8px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
   
    width: 400px;
    height: 50px;
   
    position: absolute;
    top: 400px;
    right: 200px;


  }
  label{
    position: absolute;
    top: 400px;
    right: 30px;
    color:white;
    font-size: 26px;
    font-weight: bolder;
  }
  hr{
    color: white;
   width: 70%;
    height: 3px;
    background: white;
    margin: 30px 0;
    position: absolute;
    top: 200px;
    right: 200px;
    box-shadow:2px 2px 4px rgba(122, 11, 11, 0.4);
  }
  h2{
    position: absolute;
    top: 120px;
    right: 43%;
    color: white;
    font-size: 60px;
    font-weight: bolder;
 

  }
  .time{

    position: absolute;
    top: 500px;
    right: 30px;
    color:white;
    font-size: 26px;
    font-weight: bold;
  }
 #time{
    padding: 10px;
    font-size: 22px;
    border-radius: 8px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    width: 400px;
    height: 50px;
    position: absolute;
    top: 500px;
    right: 200px;
 }
 .date{
    position: absolute;
    top: 600px;
    right: 30px;
    color:white;
    font-size: 26px;
    font-weight: bold;
 }
 #date{
    padding: 10px;
    font-size: 22px;
    border-radius: 8px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    width: 400px;
    height: 40px;
    position: absolute;
    top: 600px;
    right: 200px;
 }
 .name{
    position: absolute;
    top: 300px;
    right: 30px;
    color:white;
    font-size: 26px;
    font-weight: bold;
 }
 #name{
    padding: 10px;
    font-size: 22px;
    border-radius: 8px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    width: 400px;
    height: 40px;
    position: absolute;
    top: 300px;
    right: 200px;
 }
 button{
    padding: 10px;
    font-size: 26px;
    border-radius: 8px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    width: 400px;
    height: 40px;
    position: absolute;
    top: 700px;
    right: 200px;
 }
  @media (max-width: 768px) {
   #time ,button,#name,#date ,select{
    width: 200px;
    right: 150px;
   }
   .div{
    height: 120vh;
 
}
img{
    height: 120vh;

}
nav {
    flex-direction: column;
    top:80px;
    align-items: center;
  }
   h2{
    top: 130px;
    right: 30%;
  }
   hr{
    right: 100px;
  }
  }